{% extends "GGGNoticesBundle:Default:layout.html.twig" %}
{% block title %}
Toutes les catégories
{% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/gggnotices/css/style_liste.css') }}"/>
{% endblock %}

{% block header %}
<nav><a href="{{ path('ggg_notices_homepage') }}"</nav>
{% endblock %}

{% block wrapper %}

{% block h1 %}
<h1>Retrouver votre matériel en commençant par sa catégorie</h1>
{% endblock %}

{% for message in app.session.flashbag.get('erreur') %}
<p class="erreur">
	Info: {{ message|raw }}
</p>
{% endfor %}

<ul>
{% for categorie in categories %}
<li><a href="{{ path('ggg_notices_categories_nom',{ 'nom': categorie.nom }) }}">{{ categorie.nom|upper }}</a></li>
{% endfor %}
<li><a href="{{ path('ggg_notices_categories_nom',{ 'nom': 'toto' }) }}">toto</a></li>
</ul>



{% endblock %}